body {
    margin: 0;
}

/* header section */

header {
    width: 100%;
    height: 650px;
    background-image: url(../img/stretched-1366-768-677543.jpg);
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(118, 116, 255, 0.3);
    position: absolute;
    top: 0;
    text-align: center;
}

.overlay .content {
    margin-top: 15%;
    padding: 10px;
    color: white;
}

.overlay .content h1 {
    font-size: 35px;
}

.overlay .content p {
    font-size: 20px;
}

.overlay button {
    outline: none;
    width: 200px;
    border: 1px solid white;
    background-color: inherit;
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.clr {
    clear: both;
}

/* section2 */

.section2 {
    width: 100%;
    height: 842px;
    background-color: #f2f5f7;
    margin-bottom: 10px;
}

.section2 .section-info {
    text-align: center;
    padding: 5%;
}

.section2 .section-info h2 {
    font-size: 30px;
}

.section2 .section-info p {
    font-size: 18px;
    color: #848484;
}

.section2 .section-content {
    width: 80%;
    height: 428px;
    background-color: #ffffff;
    margin: auto;
    position: relative;
}

.section2 .section-content .img {
    width: 30%;
    height: 100%;
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.section2 .section-content .content {
    width: 50%;
    position: absolute;
    top: 20%;
    right: 20%;
}

.section2 .section-content .content .button-items {
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
    margin-left: 95px;
}

.section2 .section-content .content .button-items button {
    width: 23%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #efeeee;
    border-radius: 25px;
    outline: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: transparent;
    margin-left: 10px;
}

.section2 .section-content .content .button-items button:hover {
    background-color: #8779f6;
    color: #fff;
    outline: none;
}

.section2 .section-content .content h3 {
    font-size: 25px;
    margin-left: 100px;
}

.section2 .section-content p {
    width: 100%;
    font-size: 18px;
    color: #bcbcbb;
    margin-left: 100px;
}
