*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.k {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-color: aqua;
}

.k .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.k .container .box {
    width: 22%;
    float: left;
    margin-left: 30px;
    position: relative;
    overflow: hidden
}

.k .container .box img {
    width: 100%;
    transition: all 1s 1s ease;
    -webkit-transition: all 1s 1s ease;
    -moz-transition: all 1s 1s ease;
    -ms-transition: all 1s 1s ease;
    -o-transition: all 1s 1s ease;
}

.k .container .box:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.k .container .box .info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 33, 216, 0.253);
    top: 0;
    left: 300px;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;
}

.k .container .box .info h2 {
    position: relative;
    left: 300px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 1s 1.1s ease-in;
    -webkit-transition: all 1s 1.1s ease-in;
    -moz-transition: all 1s 1.1s ease-in;
    -ms-transition: all 1s 1.1s ease-in;
    -o-transition: all 1s 1.1s ease-in;
}

.k .container .box .info:hover h2 {
    left: 0;
}

.k .container .box:hover .info {
    left: 0;
    transform: rotate(360deg);
    transform-origin: bottom right;
}
